body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.container {
  width: full;
  margin: auto;
  padding: 20px;
}
.user,
.post,
.comment {
  border: 4px solid #7daaf1;
  border-radius: 30px;
  padding: 10px;
  margin-bottom: 10px;
  width: 350px;
}
.user h3,
.post h4 {
}
.comment p {
}
.all {
  display: flex;
  justify-content: space-evenly;
}
